.pt0 { padding-top: 0px !important; }
.pt1 { padding-top: 1px !important; }
.pt2 { padding-top: 2px !important; }
.pt3 { padding-top: 3px !important; }
.pt4 { padding-top: 4px !important; }
.pt5 { padding-top: 5px !important; }
.pt6 { padding-top: 6px !important; }
.pt7 { padding-top: 7px !important; }
.pt8 { padding-top: 8px !important; }
.pt9 { padding-top: 9px !important; }
.pt10 { padding-top: 10px !important; }
.pt11 { padding-top: 11px !important; }
.pt12 { padding-top: 12px !important; }
.pt13 { padding-top: 13px !important; }
.pt14 { padding-top: 14px !important; }
.pt15 { padding-top: 15px !important; }
.pt16 { padding-top: 16px !important; }
.pt17 { padding-top: 17px !important; }
.pt18 { padding-top: 18px !important; }
.pt19 { padding-top: 19px !important; }
.pt20 { padding-top: 20px !important; }
.pt21 { padding-top: 21px !important; }
.pt22 { padding-top: 22px !important; }
.pt23 { padding-top: 23px !important; }
.pt24 { padding-top: 24px !important; }
.pt25 { padding-top: 25px !important; }
.pt26 { padding-top: 26px !important; }
.pt27 { padding-top: 27px !important; }
.pt28 { padding-top: 28px !important; }
.pt29 { padding-top: 29px !important; }
.pt30 { padding-top: 30px !important; }
.pt31 { padding-top: 31px !important; }
.pt32 { padding-top: 32px !important; }
.pt33 { padding-top: 33px !important; }
.pt34 { padding-top: 34px !important; }
.pt35 { padding-top: 35px !important; }
.pt36 { padding-top: 36px !important; }
.pt37 { padding-top: 37px !important; }
.pt38 { padding-top: 38px !important; }
.pt39 { padding-top: 39px !important; }
.pt40 { padding-top: 40px !important; }
.pt41 { padding-top: 41px !important; }
.pt42 { padding-top: 42px !important; }
.pt43 { padding-top: 43px !important; }
.pt44 { padding-top: 44px !important; }
.pt45 { padding-top: 45px !important; }
.pt46 { padding-top: 46px !important; }
.pt47 { padding-top: 47px !important; }
.pt48 { padding-top: 48px !important; }
.pt49 { padding-top: 49px !important; }
.pt50 { padding-top: 50px !important; }
.pt51 { padding-top: 51px !important; }
.pt52 { padding-top: 52px !important; }
.pt53 { padding-top: 53px !important; }
.pt54 { padding-top: 54px !important; }
.pt55 { padding-top: 55px !important; }
.pt56 { padding-top: 56px !important; }
.pt57 { padding-top: 57px !important; }
.pt58 { padding-top: 58px !important; }
.pt59 { padding-top: 59px !important; }
.pt60 { padding-top: 60px !important; }
.pt61 { padding-top: 61px !important; }
.pt62 { padding-top: 62px !important; }
.pt63 { padding-top: 63px !important; }
.pt64 { padding-top: 64px !important; }
.pt65 { padding-top: 65px !important; }
.pt66 { padding-top: 66px !important; }
.pt67 { padding-top: 67px !important; }
.pt68 { padding-top: 68px !important; }
.pt69 { padding-top: 69px !important; }
.pt70 { padding-top: 70px !important; }
.pt71 { padding-top: 71px !important; }
.pt72 { padding-top: 72px !important; }
.pt73 { padding-top: 73px !important; }
.pt74 { padding-top: 74px !important; }
.pt75 { padding-top: 75px !important; }
.pt76 { padding-top: 76px !important; }
.pt77 { padding-top: 77px !important; }
.pt78 { padding-top: 78px !important; }
.pt79 { padding-top: 79px !important; }
.pt80 { padding-top: 80px !important; }
.pt81 { padding-top: 81px !important; }
.pt82 { padding-top: 82px !important; }
.pt83 { padding-top: 83px !important; }
.pt84 { padding-top: 84px !important; }
.pt85 { padding-top: 85px !important; }
.pt86 { padding-top: 86px !important; }
.pt87 { padding-top: 87px !important; }
.pt88 { padding-top: 88px !important; }
.pt89 { padding-top: 89px !important; }
.pt90 { padding-top: 90px !important; }
.pt91 { padding-top: 91px !important; }
.pt92 { padding-top: 92px !important; }
.pt93 { padding-top: 93px !important; }
.pt94 { padding-top: 94px !important; }
.pt95 { padding-top: 95px !important; }
.pt96 { padding-top: 96px !important; }
.pt97 { padding-top: 97px !important; }
.pt98 { padding-top: 98px !important; }
.pt99 { padding-top: 99px !important; }
.pt100 { padding-top: 100px !important; }