.pr0 { padding-right: 0px !important; }
.pr1 { padding-right: 1px !important; }
.pr2 { padding-right: 2px !important; }
.pr3 { padding-right: 3px !important; }
.pr4 { padding-right: 4px !important; }
.pr5 { padding-right: 5px !important; }
.pr6 { padding-right: 6px !important; }
.pr7 { padding-right: 7px !important; }
.pr8 { padding-right: 8px !important; }
.pr9 { padding-right: 9px !important; }
.pr10 { padding-right: 10px !important; }
.pr11 { padding-right: 11px !important; }
.pr12 { padding-right: 12px !important; }
.pr13 { padding-right: 13px !important; }
.pr14 { padding-right: 14px !important; }
.pr15 { padding-right: 15px !important; }
.pr16 { padding-right: 16px !important; }
.pr17 { padding-right: 17px !important; }
.pr18 { padding-right: 18px !important; }
.pr19 { padding-right: 19px !important; }
.pr20 { padding-right: 20px !important; }
.pr21 { padding-right: 21px !important; }
.pr22 { padding-right: 22px !important; }
.pr23 { padding-right: 23px !important; }
.pr24 { padding-right: 24px !important; }
.pr25 { padding-right: 25px !important; }
.pr26 { padding-right: 26px !important; }
.pr27 { padding-right: 27px !important; }
.pr28 { padding-right: 28px !important; }
.pr29 { padding-right: 29px !important; }
.pr30 { padding-right: 30px !important; }
.pr31 { padding-right: 31px !important; }
.pr32 { padding-right: 32px !important; }
.pr33 { padding-right: 33px !important; }
.pr34 { padding-right: 34px !important; }
.pr35 { padding-right: 35px !important; }
.pr36 { padding-right: 36px !important; }
.pr37 { padding-right: 37px !important; }
.pr38 { padding-right: 38px !important; }
.pr39 { padding-right: 39px !important; }
.pr40 { padding-right: 40px !important; }
.pr41 { padding-right: 41px !important; }
.pr42 { padding-right: 42px !important; }
.pr43 { padding-right: 43px !important; }
.pr44 { padding-right: 44px !important; }
.pr45 { padding-right: 45px !important; }
.pr46 { padding-right: 46px !important; }
.pr47 { padding-right: 47px !important; }
.pr48 { padding-right: 48px !important; }
.pr49 { padding-right: 49px !important; }
.pr50 { padding-right: 50px !important; }
.pr51 { padding-right: 51px !important; }
.pr52 { padding-right: 52px !important; }
.pr53 { padding-right: 53px !important; }
.pr54 { padding-right: 54px !important; }
.pr55 { padding-right: 55px !important; }
.pr56 { padding-right: 56px !important; }
.pr57 { padding-right: 57px !important; }
.pr58 { padding-right: 58px !important; }
.pr59 { padding-right: 59px !important; }
.pr60 { padding-right: 60px !important; }
.pr61 { padding-right: 61px !important; }
.pr62 { padding-right: 62px !important; }
.pr63 { padding-right: 63px !important; }
.pr64 { padding-right: 64px !important; }
.pr65 { padding-right: 65px !important; }
.pr66 { padding-right: 66px !important; }
.pr67 { padding-right: 67px !important; }
.pr68 { padding-right: 68px !important; }
.pr69 { padding-right: 69px !important; }
.pr70 { padding-right: 70px !important; }
.pr71 { padding-right: 71px !important; }
.pr72 { padding-right: 72px !important; }
.pr73 { padding-right: 73px !important; }
.pr74 { padding-right: 74px !important; }
.pr75 { padding-right: 75px !important; }
.pr76 { padding-right: 76px !important; }
.pr77 { padding-right: 77px !important; }
.pr78 { padding-right: 78px !important; }
.pr79 { padding-right: 79px !important; }
.pr80 { padding-right: 80px !important; }
.pr81 { padding-right: 81px !important; }
.pr82 { padding-right: 82px !important; }
.pr83 { padding-right: 83px !important; }
.pr84 { padding-right: 84px !important; }
.pr85 { padding-right: 85px !important; }
.pr86 { padding-right: 86px !important; }
.pr87 { padding-right: 87px !important; }
.pr88 { padding-right: 88px !important; }
.pr89 { padding-right: 89px !important; }
.pr90 { padding-right: 90px !important; }
.pr91 { padding-right: 91px !important; }
.pr92 { padding-right: 92px !important; }
.pr93 { padding-right: 93px !important; }
.pr94 { padding-right: 94px !important; }
.pr95 { padding-right: 95px !important; }
.pr96 { padding-right: 96px !important; }
.pr97 { padding-right: 97px !important; }
.pr98 { padding-right: 98px !important; }
.pr99 { padding-right: 99px !important; }
.pr100 { padding-right: 100px !important; }