.w1d0 { width: 1.0rem !important; }
.w1d1 { width: 1.1rem !important; }
.w1d2 { width: 1.2rem !important; }
.w1d3 { width: 1.3rem !important; }
.w1d4 { width: 1.4rem !important; }
.w1d5 { width: 1.5rem !important; }
.w1d6 { width: 1.6rem !important; }
.w1d7 { width: 1.7rem !important; }
.w1d8 { width: 1.8rem !important; }
.w1d9 { width: 1.9rem !important; }
.w2d0 { width: 2.0rem !important; }
.w2d1 { width: 2.1rem !important; }
.w2d2 { width: 2.2rem !important; }
.w2d3 { width: 2.3rem !important; }
.w2d4 { width: 2.4rem !important; }
.w2d5 { width: 2.5rem !important; }
.w2d6 { width: 2.6rem !important; }
.w2d7 { width: 2.7rem !important; }
.w2d8 { width: 2.8rem !important; }
.w2d9 { width: 2.9rem !important; }
.w3d0 { width: 3.0rem !important; }
.w3d1 { width: 3.1rem !important; }
.w3d2 { width: 3.2rem !important; }
.w3d3 { width: 3.3rem !important; }
.w3d4 { width: 3.4rem !important; }
.w3d5 { width: 3.5rem !important; }
.w3d6 { width: 3.6rem !important; }
.w3d7 { width: 3.7rem !important; }
.w3d8 { width: 3.8rem !important; }
.w3d9 { width: 3.9rem !important; }
.w4d0 { width: 4.0rem !important; }
.w4d1 { width: 4.1rem !important; }
.w4d2 { width: 4.2rem !important; }
.w4d3 { width: 4.3rem !important; }
.w4d4 { width: 4.4rem !important; }
.w4d5 { width: 4.5rem !important; }
.w4d6 { width: 4.6rem !important; }
.w4d7 { width: 4.7rem !important; }
.w4d8 { width: 4.8rem !important; }
.w4d9 { width: 4.9rem !important; }
.w5d0 { width: 5.0rem !important; }
.w5d1 { width: 5.1rem !important; }
.w5d2 { width: 5.2rem !important; }
.w5d3 { width: 5.3rem !important; }
.w5d4 { width: 5.4rem !important; }
.w5d5 { width: 5.5rem !important; }
.w5d6 { width: 5.6rem !important; }
.w5d7 { width: 5.7rem !important; }
.w5d8 { width: 5.8rem !important; }
.w5d9 { width: 5.9rem !important; }
.w6d0 { width: 6.0rem !important; }
.w6d1 { width: 6.1rem !important; }
.w6d2 { width: 6.2rem !important; }
.w6d3 { width: 6.3rem !important; }
.w6d4 { width: 6.4rem !important; }
.w6d5 { width: 6.5rem !important; }
.w6d6 { width: 6.6rem !important; }
.w6d7 { width: 6.7rem !important; }
.w6d8 { width: 6.8rem !important; }
.w6d9 { width: 6.9rem !important; }
.w7d0 { width: 7.0rem !important; }
.w7d1 { width: 7.1rem !important; }
.w7d2 { width: 7.2rem !important; }
.w7d3 { width: 7.3rem !important; }
.w7d4 { width: 7.4rem !important; }
.w7d5 { width: 7.5rem !important; }
.w7d6 { width: 7.6rem !important; }
.w7d7 { width: 7.7rem !important; }
.w7d8 { width: 7.8rem !important; }
.w7d9 { width: 7.9rem !important; }
.w8d0 { width: 8.0rem !important; }
.w8d1 { width: 8.1rem !important; }
.w8d2 { width: 8.2rem !important; }
.w8d3 { width: 8.3rem !important; }
.w8d4 { width: 8.4rem !important; }
.w8d5 { width: 8.5rem !important; }
.w8d6 { width: 8.6rem !important; }
.w8d7 { width: 8.7rem !important; }
.w8d8 { width: 8.8rem !important; }
.w8d9 { width: 8.9rem !important; }
.w9d0 { width: 9.0rem !important; }
.w9d1 { width: 9.1rem !important; }
.w9d2 { width: 9.2rem !important; }
.w9d3 { width: 9.3rem !important; }
.w9d4 { width: 9.4rem !important; }
.w9d5 { width: 9.5rem !important; }
.w9d6 { width: 9.6rem !important; }
.w9d7 { width: 9.7rem !important; }
.w9d8 { width: 9.8rem !important; }
.w9d9 { width: 9.9rem !important; }
.w10d0 { width: 10.0rem !important; }
.w11d0 { width: 11.0rem !important; }
.w12d0 { width: 12.0rem !important; }
.w13d0 { width: 13.0rem !important; }
.w14d0 { width: 14.0rem !important; }
.w15d0 { width: 15.0rem !important; }
.w16d0 { width: 16.0rem !important; }
.w17d0 { width: 17.0rem !important; }
.w18d0 { width: 18.0rem !important; }
.w19d0 { width: 19.0rem !important; }
.w20d0 { width: 20.0rem !important; }
.w30d0 { width: 30.0rem !important; }
.w40d0 { width: 40.0rem !important; }
.w50d0 { width: 50.0rem !important; }
.w60d0 { width: 60.0rem !important; }
.w70d0 { width: 70.0rem !important; }
.w80d0 { width: 80.0rem !important; }
.w90d0 { width: 90.0rem !important; }
.w100d0 { width: 100.0rem !important; }