.dspi {display: inline !important;}
.dspb {display: block !important;}
.dspf {display: flex !important;}
.dspn {display: none !important;}

.ttal { text-align: left !important; }
.ttac { text-align: center !important; }
.ttar { text-align: right !important; }

.fltl { float: left !important; }
.fltr { float: right !important; }
.clrb { clear: both !important; }

.fwb { font-weight: bold; }