.pdngt1d0 { padding-top: 1.0rem !important; }
.pdngt1d1 { padding-top: 1.1rem !important; }
.pdngt1d2 { padding-top: 1.2rem !important; }
.pdngt1d3 { padding-top: 1.3rem !important; }
.pdngt1d4 { padding-top: 1.4rem !important; }
.pdngt1d5 { padding-top: 1.5rem !important; }
.pdngt1d6 { padding-top: 1.6rem !important; }
.pdngt1d7 { padding-top: 1.7rem !important; }
.pdngt1d8 { padding-top: 1.8rem !important; }
.pdngt1d9 { padding-top: 1.9rem !important; }
.pdngt2d0 { padding-top: 2.0rem !important; }
.pdngt2d1 { padding-top: 2.1rem !important; }
.pdngt2d2 { padding-top: 2.2rem !important; }
.pdngt2d3 { padding-top: 2.3rem !important; }
.pdngt2d4 { padding-top: 2.4rem !important; }
.pdngt2d5 { padding-top: 2.5rem !important; }
.pdngt2d6 { padding-top: 2.6rem !important; }
.pdngt2d7 { padding-top: 2.7rem !important; }
.pdngt2d8 { padding-top: 2.8rem !important; }
.pdngt2d9 { padding-top: 2.9rem !important; }
.pdngt3d0 { padding-top: 3.0rem !important; }
.pdngt3d1 { padding-top: 3.1rem !important; }
.pdngt3d2 { padding-top: 3.2rem !important; }
.pdngt3d3 { padding-top: 3.3rem !important; }
.pdngt3d4 { padding-top: 3.4rem !important; }
.pdngt3d5 { padding-top: 3.5rem !important; }
.pdngt3d6 { padding-top: 3.6rem !important; }
.pdngt3d7 { padding-top: 3.7rem !important; }
.pdngt3d8 { padding-top: 3.8rem !important; }
.pdngt3d9 { padding-top: 3.9rem !important; }
.pdngt4d0 { padding-top: 4.0rem !important; }
.pdngt4d1 { padding-top: 4.1rem !important; }
.pdngt4d2 { padding-top: 4.2rem !important; }
.pdngt4d3 { padding-top: 4.3rem !important; }
.pdngt4d4 { padding-top: 4.4rem !important; }
.pdngt4d5 { padding-top: 4.5rem !important; }
.pdngt4d6 { padding-top: 4.6rem !important; }
.pdngt4d7 { padding-top: 4.7rem !important; }
.pdngt4d8 { padding-top: 4.8rem !important; }
.pdngt4d9 { padding-top: 4.9rem !important; }
.pdngt5d0 { padding-top: 5.0rem !important; }
.pdngt5d1 { padding-top: 5.1rem !important; }
.pdngt5d2 { padding-top: 5.2rem !important; }
.pdngt5d3 { padding-top: 5.3rem !important; }
.pdngt5d4 { padding-top: 5.4rem !important; }
.pdngt5d5 { padding-top: 5.5rem !important; }
.pdngt5d6 { padding-top: 5.6rem !important; }
.pdngt5d7 { padding-top: 5.7rem !important; }
.pdngt5d8 { padding-top: 5.8rem !important; }
.pdngt5d9 { padding-top: 5.9rem !important; }
.pdngt6d0 { padding-top: 6.0rem !important; }
.pdngt6d1 { padding-top: 6.1rem !important; }
.pdngt6d2 { padding-top: 6.2rem !important; }
.pdngt6d3 { padding-top: 6.3rem !important; }
.pdngt6d4 { padding-top: 6.4rem !important; }
.pdngt6d5 { padding-top: 6.5rem !important; }
.pdngt6d6 { padding-top: 6.6rem !important; }
.pdngt6d7 { padding-top: 6.7rem !important; }
.pdngt6d8 { padding-top: 6.8rem !important; }
.pdngt6d9 { padding-top: 6.9rem !important; }
.pdngt7d0 { padding-top: 7.0rem !important; }
.pdngt7d1 { padding-top: 7.1rem !important; }
.pdngt7d2 { padding-top: 7.2rem !important; }
.pdngt7d3 { padding-top: 7.3rem !important; }
.pdngt7d4 { padding-top: 7.4rem !important; }
.pdngt7d5 { padding-top: 7.5rem !important; }
.pdngt7d6 { padding-top: 7.6rem !important; }
.pdngt7d7 { padding-top: 7.7rem !important; }
.pdngt7d8 { padding-top: 7.8rem !important; }
.pdngt7d9 { padding-top: 7.9rem !important; }
.pdngt8d0 { padding-top: 8.0rem !important; }
.pdngt8d1 { padding-top: 8.1rem !important; }
.pdngt8d2 { padding-top: 8.2rem !important; }
.pdngt8d3 { padding-top: 8.3rem !important; }
.pdngt8d4 { padding-top: 8.4rem !important; }
.pdngt8d5 { padding-top: 8.5rem !important; }
.pdngt8d6 { padding-top: 8.6rem !important; }
.pdngt8d7 { padding-top: 8.7rem !important; }
.pdngt8d8 { padding-top: 8.8rem !important; }
.pdngt8d9 { padding-top: 8.9rem !important; }
.pdngt9d0 { padding-top: 9.0rem !important; }
.pdngt9d1 { padding-top: 9.1rem !important; }
.pdngt9d2 { padding-top: 9.2rem !important; }
.pdngt9d3 { padding-top: 9.3rem !important; }
.pdngt9d4 { padding-top: 9.4rem !important; }
.pdngt9d5 { padding-top: 9.5rem !important; }
.pdngt9d6 { padding-top: 9.6rem !important; }
.pdngt9d7 { padding-top: 9.7rem !important; }
.pdngt9d8 { padding-top: 9.8rem !important; }
.pdngt9d9 { padding-top: 9.9rem !important; }
.pdngt10d0 { padding-top: 10.0rem !important; }
.pdngt11d0 { padding-top: 11.0rem !important; }
.pdngt12d0 { padding-top: 12.0rem !important; }
.pdngt13d0 { padding-top: 13.0rem !important; }
.pdngt14d0 { padding-top: 14.0rem !important; }
.pdngt15d0 { padding-top: 15.0rem !important; }
.pdngt16d0 { padding-top: 16.0rem !important; }
.pdngt17d0 { padding-top: 17.0rem !important; }
.pdngt18d0 { padding-top: 18.0rem !important; }
.pdngt19d0 { padding-top: 19.0rem !important; }
.pdngt20d0 { padding-top: 20.0rem !important; }
.pdngt30d0 { padding-top: 30.0rem !important; }
.pdngt40d0 { padding-top: 40.0rem !important; }
.pdngt50d0 { padding-top: 50.0rem !important; }
.pdngt60d0 { padding-top: 60.0rem !important; }
.pdngt70d0 { padding-top: 70.0rem !important; }
.pdngt80d0 { padding-top: 80.0rem !important; }
.pdngt90d0 { padding-top: 90.0rem !important; }
.pdngt100d0 { padding-top: 100.0rem !important; }

.pdngr1d0 { padding-right: 1.0rem !important; }
.pdngr1d1 { padding-right: 1.1rem !important; }
.pdngr1d2 { padding-right: 1.2rem !important; }
.pdngr1d3 { padding-right: 1.3rem !important; }
.pdngr1d4 { padding-right: 1.4rem !important; }
.pdngr1d5 { padding-right: 1.5rem !important; }
.pdngr1d6 { padding-right: 1.6rem !important; }
.pdngr1d7 { padding-right: 1.7rem !important; }
.pdngr1d8 { padding-right: 1.8rem !important; }
.pdngr1d9 { padding-right: 1.9rem !important; }
.pdngr2d0 { padding-right: 2.0rem !important; }
.pdngr2d1 { padding-right: 2.1rem !important; }
.pdngr2d2 { padding-right: 2.2rem !important; }
.pdngr2d3 { padding-right: 2.3rem !important; }
.pdngr2d4 { padding-right: 2.4rem !important; }
.pdngr2d5 { padding-right: 2.5rem !important; }
.pdngr2d6 { padding-right: 2.6rem !important; }
.pdngr2d7 { padding-right: 2.7rem !important; }
.pdngr2d8 { padding-right: 2.8rem !important; }
.pdngr2d9 { padding-right: 2.9rem !important; }
.pdngr3d0 { padding-right: 3.0rem !important; }
.pdngr3d1 { padding-right: 3.1rem !important; }
.pdngr3d2 { padding-right: 3.2rem !important; }
.pdngr3d3 { padding-right: 3.3rem !important; }
.pdngr3d4 { padding-right: 3.4rem !important; }
.pdngr3d5 { padding-right: 3.5rem !important; }
.pdngr3d6 { padding-right: 3.6rem !important; }
.pdngr3d7 { padding-right: 3.7rem !important; }
.pdngr3d8 { padding-right: 3.8rem !important; }
.pdngr3d9 { padding-right: 3.9rem !important; }
.pdngr4d0 { padding-right: 4.0rem !important; }
.pdngr4d1 { padding-right: 4.1rem !important; }
.pdngr4d2 { padding-right: 4.2rem !important; }
.pdngr4d3 { padding-right: 4.3rem !important; }
.pdngr4d4 { padding-right: 4.4rem !important; }
.pdngr4d5 { padding-right: 4.5rem !important; }
.pdngr4d6 { padding-right: 4.6rem !important; }
.pdngr4d7 { padding-right: 4.7rem !important; }
.pdngr4d8 { padding-right: 4.8rem !important; }
.pdngr4d9 { padding-right: 4.9rem !important; }
.pdngr5d0 { padding-right: 5.0rem !important; }
.pdngr5d1 { padding-right: 5.1rem !important; }
.pdngr5d2 { padding-right: 5.2rem !important; }
.pdngr5d3 { padding-right: 5.3rem !important; }
.pdngr5d4 { padding-right: 5.4rem !important; }
.pdngr5d5 { padding-right: 5.5rem !important; }
.pdngr5d6 { padding-right: 5.6rem !important; }
.pdngr5d7 { padding-right: 5.7rem !important; }
.pdngr5d8 { padding-right: 5.8rem !important; }
.pdngr5d9 { padding-right: 5.9rem !important; }
.pdngr6d0 { padding-right: 6.0rem !important; }
.pdngr6d1 { padding-right: 6.1rem !important; }
.pdngr6d2 { padding-right: 6.2rem !important; }
.pdngr6d3 { padding-right: 6.3rem !important; }
.pdngr6d4 { padding-right: 6.4rem !important; }
.pdngr6d5 { padding-right: 6.5rem !important; }
.pdngr6d6 { padding-right: 6.6rem !important; }
.pdngr6d7 { padding-right: 6.7rem !important; }
.pdngr6d8 { padding-right: 6.8rem !important; }
.pdngr6d9 { padding-right: 6.9rem !important; }
.pdngr7d0 { padding-right: 7.0rem !important; }
.pdngr7d1 { padding-right: 7.1rem !important; }
.pdngr7d2 { padding-right: 7.2rem !important; }
.pdngr7d3 { padding-right: 7.3rem !important; }
.pdngr7d4 { padding-right: 7.4rem !important; }
.pdngr7d5 { padding-right: 7.5rem !important; }
.pdngr7d6 { padding-right: 7.6rem !important; }
.pdngr7d7 { padding-right: 7.7rem !important; }
.pdngr7d8 { padding-right: 7.8rem !important; }
.pdngr7d9 { padding-right: 7.9rem !important; }
.pdngr8d0 { padding-right: 8.0rem !important; }
.pdngr8d1 { padding-right: 8.1rem !important; }
.pdngr8d2 { padding-right: 8.2rem !important; }
.pdngr8d3 { padding-right: 8.3rem !important; }
.pdngr8d4 { padding-right: 8.4rem !important; }
.pdngr8d5 { padding-right: 8.5rem !important; }
.pdngr8d6 { padding-right: 8.6rem !important; }
.pdngr8d7 { padding-right: 8.7rem !important; }
.pdngr8d8 { padding-right: 8.8rem !important; }
.pdngr8d9 { padding-right: 8.9rem !important; }
.pdngr9d0 { padding-right: 9.0rem !important; }
.pdngr9d1 { padding-right: 9.1rem !important; }
.pdngr9d2 { padding-right: 9.2rem !important; }
.pdngr9d3 { padding-right: 9.3rem !important; }
.pdngr9d4 { padding-right: 9.4rem !important; }
.pdngr9d5 { padding-right: 9.5rem !important; }
.pdngr9d6 { padding-right: 9.6rem !important; }
.pdngr9d7 { padding-right: 9.7rem !important; }
.pdngr9d8 { padding-right: 9.8rem !important; }
.pdngr9d9 { padding-right: 9.9rem !important; }
.pdngr10d0 { padding-right: 10.0rem !important; }
.pdngr11d0 { padding-right: 11.0rem !important; }
.pdngr12d0 { padding-right: 12.0rem !important; }
.pdngr13d0 { padding-right: 13.0rem !important; }
.pdngr14d0 { padding-right: 14.0rem !important; }
.pdngr15d0 { padding-right: 15.0rem !important; }
.pdngr16d0 { padding-right: 16.0rem !important; }
.pdngr17d0 { padding-right: 17.0rem !important; }
.pdngr18d0 { padding-right: 18.0rem !important; }
.pdngr19d0 { padding-right: 19.0rem !important; }
.pdngr20d0 { padding-right: 20.0rem !important; }
.pdngr30d0 { padding-right: 30.0rem !important; }
.pdngr40d0 { padding-right: 40.0rem !important; }
.pdngr50d0 { padding-right: 50.0rem !important; }
.pdngr60d0 { padding-right: 60.0rem !important; }
.pdngr70d0 { padding-right: 70.0rem !important; }
.pdngr80d0 { padding-right: 80.0rem !important; }
.pdngr90d0 { padding-right: 90.0rem !important; }
.pdngr100d0 { padding-right: 100.0rem !important; }

.pdngb1d0 { padding-bottom: 1.0rem !important; }
.pdngb1d1 { padding-bottom: 1.1rem !important; }
.pdngb1d2 { padding-bottom: 1.2rem !important; }
.pdngb1d3 { padding-bottom: 1.3rem !important; }
.pdngb1d4 { padding-bottom: 1.4rem !important; }
.pdngb1d5 { padding-bottom: 1.5rem !important; }
.pdngb1d6 { padding-bottom: 1.6rem !important; }
.pdngb1d7 { padding-bottom: 1.7rem !important; }
.pdngb1d8 { padding-bottom: 1.8rem !important; }
.pdngb1d9 { padding-bottom: 1.9rem !important; }
.pdngb2d0 { padding-bottom: 2.0rem !important; }
.pdngb2d1 { padding-bottom: 2.1rem !important; }
.pdngb2d2 { padding-bottom: 2.2rem !important; }
.pdngb2d3 { padding-bottom: 2.3rem !important; }
.pdngb2d4 { padding-bottom: 2.4rem !important; }
.pdngb2d5 { padding-bottom: 2.5rem !important; }
.pdngb2d6 { padding-bottom: 2.6rem !important; }
.pdngb2d7 { padding-bottom: 2.7rem !important; }
.pdngb2d8 { padding-bottom: 2.8rem !important; }
.pdngb2d9 { padding-bottom: 2.9rem !important; }
.pdngb3d0 { padding-bottom: 3.0rem !important; }
.pdngb3d1 { padding-bottom: 3.1rem !important; }
.pdngb3d2 { padding-bottom: 3.2rem !important; }
.pdngb3d3 { padding-bottom: 3.3rem !important; }
.pdngb3d4 { padding-bottom: 3.4rem !important; }
.pdngb3d5 { padding-bottom: 3.5rem !important; }
.pdngb3d6 { padding-bottom: 3.6rem !important; }
.pdngb3d7 { padding-bottom: 3.7rem !important; }
.pdngb3d8 { padding-bottom: 3.8rem !important; }
.pdngb3d9 { padding-bottom: 3.9rem !important; }
.pdngb4d0 { padding-bottom: 4.0rem !important; }
.pdngb4d1 { padding-bottom: 4.1rem !important; }
.pdngb4d2 { padding-bottom: 4.2rem !important; }
.pdngb4d3 { padding-bottom: 4.3rem !important; }
.pdngb4d4 { padding-bottom: 4.4rem !important; }
.pdngb4d5 { padding-bottom: 4.5rem !important; }
.pdngb4d6 { padding-bottom: 4.6rem !important; }
.pdngb4d7 { padding-bottom: 4.7rem !important; }
.pdngb4d8 { padding-bottom: 4.8rem !important; }
.pdngb4d9 { padding-bottom: 4.9rem !important; }
.pdngb5d0 { padding-bottom: 5.0rem !important; }
.pdngb5d1 { padding-bottom: 5.1rem !important; }
.pdngb5d2 { padding-bottom: 5.2rem !important; }
.pdngb5d3 { padding-bottom: 5.3rem !important; }
.pdngb5d4 { padding-bottom: 5.4rem !important; }
.pdngb5d5 { padding-bottom: 5.5rem !important; }
.pdngb5d6 { padding-bottom: 5.6rem !important; }
.pdngb5d7 { padding-bottom: 5.7rem !important; }
.pdngb5d8 { padding-bottom: 5.8rem !important; }
.pdngb5d9 { padding-bottom: 5.9rem !important; }
.pdngb6d0 { padding-bottom: 6.0rem !important; }
.pdngb6d1 { padding-bottom: 6.1rem !important; }
.pdngb6d2 { padding-bottom: 6.2rem !important; }
.pdngb6d3 { padding-bottom: 6.3rem !important; }
.pdngb6d4 { padding-bottom: 6.4rem !important; }
.pdngb6d5 { padding-bottom: 6.5rem !important; }
.pdngb6d6 { padding-bottom: 6.6rem !important; }
.pdngb6d7 { padding-bottom: 6.7rem !important; }
.pdngb6d8 { padding-bottom: 6.8rem !important; }
.pdngb6d9 { padding-bottom: 6.9rem !important; }
.pdngb7d0 { padding-bottom: 7.0rem !important; }
.pdngb7d1 { padding-bottom: 7.1rem !important; }
.pdngb7d2 { padding-bottom: 7.2rem !important; }
.pdngb7d3 { padding-bottom: 7.3rem !important; }
.pdngb7d4 { padding-bottom: 7.4rem !important; }
.pdngb7d5 { padding-bottom: 7.5rem !important; }
.pdngb7d6 { padding-bottom: 7.6rem !important; }
.pdngb7d7 { padding-bottom: 7.7rem !important; }
.pdngb7d8 { padding-bottom: 7.8rem !important; }
.pdngb7d9 { padding-bottom: 7.9rem !important; }
.pdngb8d0 { padding-bottom: 8.0rem !important; }
.pdngb8d1 { padding-bottom: 8.1rem !important; }
.pdngb8d2 { padding-bottom: 8.2rem !important; }
.pdngb8d3 { padding-bottom: 8.3rem !important; }
.pdngb8d4 { padding-bottom: 8.4rem !important; }
.pdngb8d5 { padding-bottom: 8.5rem !important; }
.pdngb8d6 { padding-bottom: 8.6rem !important; }
.pdngb8d7 { padding-bottom: 8.7rem !important; }
.pdngb8d8 { padding-bottom: 8.8rem !important; }
.pdngb8d9 { padding-bottom: 8.9rem !important; }
.pdngb9d0 { padding-bottom: 9.0rem !important; }
.pdngb9d1 { padding-bottom: 9.1rem !important; }
.pdngb9d2 { padding-bottom: 9.2rem !important; }
.pdngb9d3 { padding-bottom: 9.3rem !important; }
.pdngb9d4 { padding-bottom: 9.4rem !important; }
.pdngb9d5 { padding-bottom: 9.5rem !important; }
.pdngb9d6 { padding-bottom: 9.6rem !important; }
.pdngb9d7 { padding-bottom: 9.7rem !important; }
.pdngb9d8 { padding-bottom: 9.8rem !important; }
.pdngb9d9 { padding-bottom: 9.9rem !important; }
.pdngb10d0 { padding-bottom: 10.0rem !important; }
.pdngb11d0 { padding-bottom: 11.0rem !important; }
.pdngb12d0 { padding-bottom: 12.0rem !important; }
.pdngb13d0 { padding-bottom: 13.0rem !important; }
.pdngb14d0 { padding-bottom: 14.0rem !important; }
.pdngb15d0 { padding-bottom: 15.0rem !important; }
.pdngb16d0 { padding-bottom: 16.0rem !important; }
.pdngb17d0 { padding-bottom: 17.0rem !important; }
.pdngb18d0 { padding-bottom: 18.0rem !important; }
.pdngb19d0 { padding-bottom: 19.0rem !important; }
.pdngb20d0 { padding-bottom: 20.0rem !important; }
.pdngb30d0 { padding-bottom: 30.0rem !important; }
.pdngb40d0 { padding-bottom: 40.0rem !important; }
.pdngb50d0 { padding-bottom: 50.0rem !important; }
.pdngb60d0 { padding-bottom: 60.0rem !important; }
.pdngb70d0 { padding-bottom: 70.0rem !important; }
.pdngb80d0 { padding-bottom: 80.0rem !important; }
.pdngb90d0 { padding-bottom: 90.0rem !important; }
.pdngb100d0 { padding-bottom: 100.0rem !important; }

.pdngl1d0 { padding-left: 1.0rem !important; }
.pdngl1d1 { padding-left: 1.1rem !important; }
.pdngl1d2 { padding-left: 1.2rem !important; }
.pdngl1d3 { padding-left: 1.3rem !important; }
.pdngl1d4 { padding-left: 1.4rem !important; }
.pdngl1d5 { padding-left: 1.5rem !important; }
.pdngl1d6 { padding-left: 1.6rem !important; }
.pdngl1d7 { padding-left: 1.7rem !important; }
.pdngl1d8 { padding-left: 1.8rem !important; }
.pdngl1d9 { padding-left: 1.9rem !important; }
.pdngl2d0 { padding-left: 2.0rem !important; }
.pdngl2d1 { padding-left: 2.1rem !important; }
.pdngl2d2 { padding-left: 2.2rem !important; }
.pdngl2d3 { padding-left: 2.3rem !important; }
.pdngl2d4 { padding-left: 2.4rem !important; }
.pdngl2d5 { padding-left: 2.5rem !important; }
.pdngl2d6 { padding-left: 2.6rem !important; }
.pdngl2d7 { padding-left: 2.7rem !important; }
.pdngl2d8 { padding-left: 2.8rem !important; }
.pdngl2d9 { padding-left: 2.9rem !important; }
.pdngl3d0 { padding-left: 3.0rem !important; }
.pdngl3d1 { padding-left: 3.1rem !important; }
.pdngl3d2 { padding-left: 3.2rem !important; }
.pdngl3d3 { padding-left: 3.3rem !important; }
.pdngl3d4 { padding-left: 3.4rem !important; }
.pdngl3d5 { padding-left: 3.5rem !important; }
.pdngl3d6 { padding-left: 3.6rem !important; }
.pdngl3d7 { padding-left: 3.7rem !important; }
.pdngl3d8 { padding-left: 3.8rem !important; }
.pdngl3d9 { padding-left: 3.9rem !important; }
.pdngl4d0 { padding-left: 4.0rem !important; }
.pdngl4d1 { padding-left: 4.1rem !important; }
.pdngl4d2 { padding-left: 4.2rem !important; }
.pdngl4d3 { padding-left: 4.3rem !important; }
.pdngl4d4 { padding-left: 4.4rem !important; }
.pdngl4d5 { padding-left: 4.5rem !important; }
.pdngl4d6 { padding-left: 4.6rem !important; }
.pdngl4d7 { padding-left: 4.7rem !important; }
.pdngl4d8 { padding-left: 4.8rem !important; }
.pdngl4d9 { padding-left: 4.9rem !important; }
.pdngl5d0 { padding-left: 5.0rem !important; }
.pdngl5d1 { padding-left: 5.1rem !important; }
.pdngl5d2 { padding-left: 5.2rem !important; }
.pdngl5d3 { padding-left: 5.3rem !important; }
.pdngl5d4 { padding-left: 5.4rem !important; }
.pdngl5d5 { padding-left: 5.5rem !important; }
.pdngl5d6 { padding-left: 5.6rem !important; }
.pdngl5d7 { padding-left: 5.7rem !important; }
.pdngl5d8 { padding-left: 5.8rem !important; }
.pdngl5d9 { padding-left: 5.9rem !important; }
.pdngl6d0 { padding-left: 6.0rem !important; }
.pdngl6d1 { padding-left: 6.1rem !important; }
.pdngl6d2 { padding-left: 6.2rem !important; }
.pdngl6d3 { padding-left: 6.3rem !important; }
.pdngl6d4 { padding-left: 6.4rem !important; }
.pdngl6d5 { padding-left: 6.5rem !important; }
.pdngl6d6 { padding-left: 6.6rem !important; }
.pdngl6d7 { padding-left: 6.7rem !important; }
.pdngl6d8 { padding-left: 6.8rem !important; }
.pdngl6d9 { padding-left: 6.9rem !important; }
.pdngl7d0 { padding-left: 7.0rem !important; }
.pdngl7d1 { padding-left: 7.1rem !important; }
.pdngl7d2 { padding-left: 7.2rem !important; }
.pdngl7d3 { padding-left: 7.3rem !important; }
.pdngl7d4 { padding-left: 7.4rem !important; }
.pdngl7d5 { padding-left: 7.5rem !important; }
.pdngl7d6 { padding-left: 7.6rem !important; }
.pdngl7d7 { padding-left: 7.7rem !important; }
.pdngl7d8 { padding-left: 7.8rem !important; }
.pdngl7d9 { padding-left: 7.9rem !important; }
.pdngl8d0 { padding-left: 8.0rem !important; }
.pdngl8d1 { padding-left: 8.1rem !important; }
.pdngl8d2 { padding-left: 8.2rem !important; }
.pdngl8d3 { padding-left: 8.3rem !important; }
.pdngl8d4 { padding-left: 8.4rem !important; }
.pdngl8d5 { padding-left: 8.5rem !important; }
.pdngl8d6 { padding-left: 8.6rem !important; }
.pdngl8d7 { padding-left: 8.7rem !important; }
.pdngl8d8 { padding-left: 8.8rem !important; }
.pdngl8d9 { padding-left: 8.9rem !important; }
.pdngl9d0 { padding-left: 9.0rem !important; }
.pdngl9d1 { padding-left: 9.1rem !important; }
.pdngl9d2 { padding-left: 9.2rem !important; }
.pdngl9d3 { padding-left: 9.3rem !important; }
.pdngl9d4 { padding-left: 9.4rem !important; }
.pdngl9d5 { padding-left: 9.5rem !important; }
.pdngl9d6 { padding-left: 9.6rem !important; }
.pdngl9d7 { padding-left: 9.7rem !important; }
.pdngl9d8 { padding-left: 9.8rem !important; }
.pdngl9d9 { padding-left: 9.9rem !important; }
.pdngl10d0 { padding-left: 10.0rem !important; }
.pdngl11d0 { padding-left: 11.0rem !important; }
.pdngl12d0 { padding-left: 12.0rem !important; }
.pdngl13d0 { padding-left: 13.0rem !important; }
.pdngl14d0 { padding-left: 14.0rem !important; }
.pdngl15d0 { padding-left: 15.0rem !important; }
.pdngl16d0 { padding-left: 16.0rem !important; }
.pdngl17d0 { padding-left: 17.0rem !important; }
.pdngl18d0 { padding-left: 18.0rem !important; }
.pdngl19d0 { padding-left: 19.0rem !important; }
.pdngl20d0 { padding-left: 20.0rem !important; }
.pdngl30d0 { padding-left: 30.0rem !important; }
.pdngl40d0 { padding-left: 40.0rem !important; }
.pdngl50d0 { padding-left: 50.0rem !important; }
.pdngl60d0 { padding-left: 60.0rem !important; }
.pdngl70d0 { padding-left: 70.0rem !important; }
.pdngl80d0 { padding-left: 80.0rem !important; }
.pdngl90d0 { padding-left: 90.0rem !important; }
.pdngl100d0 { padding-left: 100.0rem !important; }